<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-purple btn-devise" %>
  </div>
<% end %>
<br />
<%= link_to "Already Registered? Sign in here", user_session_path %><br />
<%= link_to "Didn't receive confirmation email?", new_user_confirmation_path %><br />
<br />
