<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default login-panel">
      <div class="panel-heading">
        <h2 class="panel-title  devise_form">Edit My Account</h2>
      </div>
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
            <div class="field form-group">
              <strong>Account type</strong> (contact <a href="mailto:support@vaultarch.com">support</a> if this is incorrect)<br />
              <%= I18n.t(current_user.accounttype) %>
            </div>
            <div class="field form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", autofocus: true %>
            </div>
            <div class="field form-group">
              <%= f.label :timezone %><br />
              <%=f.select :timezone, values=TZInfo::Timezone.all_country_zone_identifiers %>
            </div>
            <% if (current_user.accounttype == "vendor" and current_user.identity_verified == 1) or (current_user.accounttype == "expert") or (current_user.accounttype == "admin") then %>
              <div class="field form-group">
                <%= f.label :expert_contact_info %> (As an expert, enter in how you wish to be contacted. This will be made public)<br />
                <%= f.text_area :expert_contact_info, class: "expert_contact_info", placeholder: "Enter details on how you wish to be contacted" %>
              </div>
              <div class="field form-group">
                <strong>Location Details<strong> (This will be public)
                <%= f.text_area :expert_location_info, placeholder: "Enter Address Info" %>
              </div>
            <% end %>
            <br />

            <div class="field form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control",autofocus: true %>
            </div>
            <br />
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="field form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
            </div>
            <br />
            <div class="field form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
            </div>
            <br />
            <div class="field form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
            </div>
            <br />
            <div class="actions  form-group">
              <%= f.submit "Update", class: "btn btn-primary btn-purple btn-devise" %>
            </div>
          <% end %>


        <%= link_to "Back", :back, class: "btn btn-primary btn-purple btn-devise" %>
      </div>
    </div>
  </div>
</div>
