<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= radio_button_tag(:signup_account_type, "standard", default: true) %> &nbsp; <%= label_tag(:signup_account_type, "I am a collector") %>
    <br />
    <%= radio_button_tag(:signup_account_type, "vendor") %> &nbsp;<%= label_tag(:signup_account_type, "I am a shopkeeper") %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :invite_code %><br />
    <%= f.text_field :invite_code, autofocus: true, required: true %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-landing" %>
  </div>
<% end %>
<br />
<%= link_to "Already Registered? Sign in here", user_session_path %><br />
<%= link_to "Didn't receive confirmation email?", new_user_confirmation_path %><br />
<br />
