.row
.col-lg-6.col-md-6
  %h2{style:"color:#5f3d72"} Verify cards

.row.top-buffer
.col-lg-6.col-md-6
  %p Enter in the person's email to get a list of cards which they have requested a shopkeeper to verify.
  %br
  = form_for :cardverify, url: cardverify_index_path, method: :get, role: "form", class: "form-horizontal" do |f|
    .col-lg-6.col-md-6
      %b Customer's Email Address
      %br
      = f.text_field :email, placeholder: "Enter email address here", size: 20, class: "form-control"
      %br
      = f.submit "Show list of cards", class: "btn btn-primary btn-purple"
      %br
      %br
      -if @cardlist.length > 0
        %p Here are a list of cards related to the email address <b>#{params[:cardverify][:email]}</b>
        %ul
          -@cardlist.each do |i|
            %li
              %a(href="/cards/detail/#{i[:_id]}") #{i[:cardname]}
              %ul
                %li
                  Options:
                  %a(href="/vendor/validate/#{i[:_id]}") Validate
                  |
                  %a(href="/vendor/reject/#{i[:_id]}") Reject
