.row
    .col-xs-12.text-center
        %h3 Admin tools

.row.top-buffer
    .col-xs-12.text-center
        %p List of all users on the system. You can download a copy by going <a href="#{adminpage_userlist_url}.csv?page=#{@page}">here</a>
.row.top-buffer
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        -if @userlist.count > 0
            = will_paginate
            %ul
                -@userlist.each do |user|
                    %li Name: #{user[:name]} Email: #{user[:email]} Verified: #{user[:identity_verified]} (Type: #{user[:accounttype]}) | Cards Owned: #{user[:cards].count} | Cards deleted: #{user[:deleted_cards].count} | <a href="/admin/usercards/#{user[:id]}">Show Cards</a>
        -else
            %p No users found