<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default login-panel">
      <div class="panel-heading">
        <h2 class="panel-title  devise_form">Forgot your password?</h2>
      </div>
      <div class="panel-body">

				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="field devise_form">
				    <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
				  </div>

				  <div class="actions devise_form">
				    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-purple btn-devise" %>
				  </div>
				<% end %>
				<div class="devise_form">
					<%= render "devise/shared/links" %>
				</div>
				<br />
      </div>
    </div>
  </div>
</div>