.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%th= image_tag('front_1.jpg', width: "200")
						%th= image_tag('back_1.jpg', width: "200")
						%th{colspan:'2'}
	.col-sm-6
		.h2 Legendary Creature - Hydra Avatar
		.h3 Magic the Gathering
		%br
		%br
		%th= image_tag('verified.png')
.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%th= image_tag('front_1.jpg', width: "50")
						%th= image_tag('back_1.jpg', width: "50")

.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%br
						.btn.btn-primary.my-btn Add State
						.btn.btn-primary.my-btn Edit Notes
						=link_to "Transfer", cards_tracking_path, class: 'btn btn-primary btn-landing'
						%br
						%br
						.h3 Notes
						%p
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan tortor sed purus mattis, quis pretium leo efficitur. Donec leo nisi, congue ut sodales maximus, ultrices vitae tellus. Proin consequat est orci, quis efficitur urna ultrices non. Mauris efficitur lorem sit amet sem semper, sit amet iaculis felis cursus. Vivamus commodo elit elementum nunc hendrerit, quis mollis elit condimentum. Morbi dignissim tellus ut velit feugiat sollicitudin. Duis sed velit in diam suscipit porta. Vestibulum nec pharetra ipsum. Praesent ac ex orci. Cras non luctus nisl, a mollis nunc. Curabitur varius sit amet lectus finibus suscipit. Sed nibh nibh, aliquam iaculis sapien eu, venenatis porttitor magna. Morbi eu orci non erat interdum placerat quis vel lectus. Aliquam vehicula, dolor sit amet bibendum dapibus, magna tortor volutpat lectus, vitae pellentesque mauris tortor sit amet justo. Nullam imperdiet erat ac diam semper, id tincidunt quam tempus. Praesent a laoreet turpis.

%br
%br
