<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default login-panel">
      <div class="panel-heading">
        <h2 class="panel-title  devise_form">Please Log In</h2>
      </div>
      <div class="panel-body">
        <% if flash[:alert] then %>
          <ul>
            <li>
              <%= flash[:alert] %>
            </li>
          </ul>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field devise_form">
            <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
          </div>

          <div class="field devise_form ">
            <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field devise_form ">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="actions devise_form ">
            <%= f.submit "Log in", class: "btn btn-success btn-lg btn-purple btn-devise" %>
          </div>
        <% end %>
        <div class="devise_form">
          <%= render "devise/shared/links" %>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
