	

				<%card_table= cards_and_images[0] %>
				<%front = cards_and_images[1][0].present? ? cards_and_images[1][0].photo.url : nil %>
				<%back = cards_and_images[1][1].present? ? cards_and_images[1][1].photo.url : nil %> 
				<div class="image__cell is-collapsed">
					<div class="image--basic">
						<a href="#expand-jump-<%=cards_and_images_counter+1 %>" class="thumbnail">
							<img id="expand-jump-<%=cards_and_images_counter+1 %>" class="img-responsive" src="<%= cards_and_images[1][0].photo.thumb.url %>"/>
						</a>
						 <div class="arrow--up"></div>
					</div>
			
					<div class="image--expand">
			      <a href="#close-jump-<%=cards_and_images_counter+1 %>" class="expand__close"></a>
					    <ul class="nav nav-tabs">
					      <li class="active"><a href="#card_detail-tab-<%=cards_and_images_counter %>" data-toggle="tab">Card Detail</a></li>
					      <li><a href="#edit-tab-<%=cards_and_images_counter %>" data-toggle="tab">Edit Card</a></li>
					      <li><a href="#transfer-tab-<%=cards_and_images_counter %>" data-toggle="tab">Transfer Ownership</a></li>
					      <li><a href="#expert-tab-<%=cards_and_images_counter %>" data-toggle="tab">Expert Check</a></li>
					      <li><a href="#history-tab-<%=cards_and_images_counter %>" data-toggle="tab">Card History</a></li>
					    </ul>
						    <!-- Tab panes -->
					    <div class="tab-content">
					      <div class="tab-pane active" id="card_detail-tab-<%=cards_and_images_counter %>">
					      	<div class="spacebox30"></div>
					      	<div class="col-xs-6 col-md-3 col-lg-4" >
										<img class="img-responsive" src="<%= front %>"/>
									</div>

									<div class="col-xs-6 col-md-3 col-lg-4" >
						      	<% if back.present? %>
						      		<img class="img-responsive" src="<%= back %>"/>
						      	<% else %>
						      		<p> No Back Image </p>
						      	<% end %>
						      </div>

							    <div class="col-xs-12 col-md-6 col-lg-4" >
						      	<%= render partial: 'card_table', locals: { :card_table => card_table } %>
						      </div>
						      <div class="spacebox30 col-xs-12"></div>
					

					      </div>
					      <div class="tab-pane" id="edit-tab-<%=cards_and_images_counter %>" class="edit">
					      	<div class="spacebox30"></div>
					      	<%= render partial: 'card_edit_form', locals: { :card_table => card_table } %>
					      </div>
					      <div class="tab-pane" id="transfer-tab-<%=cards_and_images_counter %>">
					      	<div class="spacebox30"></div>
					      	<%= render partial: 'transfer_ownership_form', locals: { :card_table => card_table } %>
					      </div>
					      <div class="tab-pane" id="expert-tab-<%=cards_and_images_counter %>">
					      	<div class="spacebox30"></div>
					      	<%= render partial: 'expert_check_form', locals: { :card_table => card_table } %>
					      </div>
					      <div class="spacebox30"></div>
					      <div class="tab-pane" id="history-tab-<%=cards_and_images_counter %>">Placeholdertext for notes</div>
					    </div>
			    </div>
			  </div>
