<% if flash %>
  <ul>
    <% flash.each do |key, value| %>
      <% if key == "error" %>
        <li>#{key.capitalize}: #{value}</li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= form_for card_table, :authenticity_token => true, url: edit_card_form_path(card_table.id), method: :get, html: { role: "form", class: "form-horizontal add_picture_form"} do |f| %>
	
	<%= f.hidden_field :id, value: card_table.id %>
	<div class = "row" >
		<div class="col-lg-6">
		  <p>Front of card (Optional: if already have back image):</p>
		  <%= f.file_field :front_image, class: "btn btn-primary btn-purple btn-upload" %>
		  <div class="top-buffer"></div>
		  <p>Back of card (Optional: if already have front image):</p>

		  <%= f.file_field :back_image, class: "btn btn-primary btn-purple btn-upload" %>

		</div>
		<div class="col-lg-6">
			<p>Card Name:</p>

		  <%= f.text_field :cardname, placeholder: "Name of Card", class: "form-control", value: card_table.cardname.to_s %>
		  <p>Card Game:</p>

		  <%= f.text_field :cardgame, placeholder: "Name of Card", class: "form-control", value: card_table.cardgame.to_s %>

		  <% if card_table.card_condition != "damaged" %>
		 		<p>Card Condition (based on the <a href="https://help.tcgplayer.com/hc/en-us/articles/201432037-Magic-the-Gathering-Card-Conditions" target="cardconditon">TCG Guidelines</a>)</p>
		    &nbsp;
		    <% default_condition = "Other" %>
		    <% if ["Other", "Near Mint", "Lightly Played", "Moderately Played", "Heavily Played", "Damaged"].join.to_s.include? card_table.card_condition.to_s %>
		      <% default_condition = card_table.card_condition %>
		    <% end %>
		    <%= f.select :card_condition_select, ["Other", "Near Mint", "Lightly Played", "Moderately Played", "Heavily Played", "Damaged"], class: "form-control", selected: default_condition %>

		    <p>Card condition not listed or something else?:</p>
		 
		    <%= f.text_field :card_condition, placeholder: "Type in the new card condition here", class: "form-control", value: card_table.card_condition.to_s %>
		 
		 
		  <% else %>
		    <p>As your card is already in the damaged state, you can't change the condition for this</p>
		 
		 
		  <% end %>

		</div>	
	</div>

	<div class="row">
  	<%= f.submit "Submit", class: "btn btn-primary btn-purple" %>
  </div>
<% end %>

