%h3 Transfer Card
= form_for :transfer, url: "/cards/transfer", method: :post, role: "form", class: "form-horizontal" do |f|
  = f.hidden_field :cardid, value: "#{params[:id]}"
  = f.text_field :email, placeholder: "Recipient Email", class: "form-control"
  %br
  %b To facilitate the transfer, please type in the name of the card that you wish to transfer
  = f.text_field :cardname, placeholder: "Name of the card", class: "form-control"
  %br
  %b I accept that after hitting transfer, that the new card owner is the owner of the above e-mail address
  = f.check_box :agree
  .top-buffer
  = f.submit "Transfer", class: "btn btn-primary btn-purple"