.row
	.col-lg-6.col-md-6
		%span{style: "color: #5f3d72"}
			.h1 Edit Card Info
		-if flash
			%ul
				-flash.each do |key, value|
					-if key == "error"
						%li #{key.capitalize}: #{value}

.row.top-buffer
	= form_for :cards, url: cards_edit_post_url_url, method: :post, role: "form", class: "form-horizontal" do |f|
		.col-lg-6.col-md-6
			%b Card name:
			%br
			= f.text_field :cardname, placeholder: "Name of Card", class: "form-control", value: @card.cardname.to_s
			%br
			// = f.text_field :cardgame, placeholder: "Game", class: "form-control"
			// %br
			// = f.text_field :cardcollection, placeholder: "Set", class: "form-control"
			// %br
			%br
			-if @card.card_condition != "damaged"
				%b Card condition:
				%br
				= f.text_field :card_condition, placeholder: "Type in the new card condition here", class: "form-control", value: @card.card_condition.to_s
				%br
				%br
			-else
				%b As your card is already in the damaged state, you can't change the condition for this
				%br
				%br
			%b Notes (Required*):
			%br
			= f.text_field :notes_text, placeholder: "Enter some notes", class: "form-control"
			%br
			.top-buffer
			= f.submit "Add comment to Card", class: "btn btn-primary btn-purple"
			%br
			%br
			%br
			%br
