.row
	.col-lg-6.col-md-6
		%span{style: "color: #5f3d72"}
			.h1 Edit Card Info
		= @errormsg

.row.top-buffer
	= form_for @card, url: cards_detail_post_url_path, method: :post, role: "form", class: "form-horizontal" do |f|
		= f.hidden_field "userid", value: current_user.id
		.col-lg-6.col-md-6
			= f.text_field :cardname, placeholder: "Name of Card", class: "form-control"
			%br
			= f.text_field :cardgame, placeholder: "Game", class: "form-control"
			%br
			= f.text_field :cardcollection, placeholder: "Collection", class: "form-control"
			%br
			= f.text_field :card_condition, placeholder: "Condition", class: "form-control"
			.top-buffer
			= f.submit "Validate/Submit Card", class: "btn btn-primary btn-purple"

