.row
	.col-lg-6.col-md-6
		%span{style: "color: #5f3d72"}
			.h1 Edit Card Info
		-if flash
			%ul
				-flash.each do |key, value|
					-if key == "error"
						%li #{key.capitalize}: #{value}

.row.top-buffer
	= form_for :cards, url: cards_edit_post_url_url, method: :post, role: "form", class: "form-horizontal" do |f|
		.col-lg-6.col-md-6
			// = f.text_field :cardname, placeholder: "Name of Card", class: "form-control"
			// %br
			// = f.text_field :cardgame, placeholder: "Game", class: "form-control"
			// %br
			// = f.text_field :cardcollection, placeholder: "Set", class: "form-control"
			// %br
			%br
			%b Card condition:
			= f.text_field :card_condition, placeholder: "Condition", class: "form-control"
			%br
			%b Notes:
			%br
			= f.text_field :notes_text, placeholder: "Enter some notes", class: "form-control"
			%br
			%b Front of card (Optional*):
			%br
			= f.file_field "front_image", class: "btn btn-primary btn-purple"
			%br
			%b Back of card (Optional*):
			%br
			= f.file_field "back_image", class: "btn btn-primary btn-purple"
			.top-buffer
			= f.submit "Add comment to Card", class: "btn btn-primary btn-purple"
			%br
			%br
			%br
			%br
