%p
-if @cardnote.length == 0 then
	#{I18n.t('nonotesfound')}
-else
	%table.borderless{width: "100%"}
		%tbody
		-@cardnote.each do |cardnote|
			%tr
				%th #{I18n.t('cardnotetime')}:
				%td= "#{Time.at(cardnote.create_date).in_time_zone(@timezone).strftime "%a, %e %b %Y %H:%M:%S %z"}"
			%tr
				%th #{I18n.t('cardnote')}:
				%td= "#{cardnote.text}"
			%tr
				%td &nbsp;
