.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						-if @cardimages.length == 0 then
							No images found
						-else
							-@cardimages.each do |cardimage|
								%h4 #{cardimage.image_type.capitalize} of card
								%img{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}", class: "img-responsive"}
								%br
						%th{colspan:'2'}
	.col-sm-6
		.h2 #{@card.cardname}
		.h3 #{@card.cardgame}
		<b>Uploaded:</b> #{@card.create_date.to_s}
		%br
		<b>Owner:</b> #{current_user.name}
		%br
		%br
		Verified tag

.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
					Placeholder for small images to go here
.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%br
						=link_to "Add new Image / Note", request.original_fullpath + "?add_note=1", class: 'btn btn-primary btn-landing'
						&nbsp;
						=link_to "Transfer", cards_transfer_path, class: 'btn btn-primary btn-landing'
						%br
						-if @can_hide_notes == "no"
							%br
							=render "addnote"
							%br
						%br
						.h3 Notes
						=render "listnote"
%br
%br
