.row
	.col-lg-6.col-md-12.detail
		%h2{style:"color:#5f3d72"} Cards Detail
.row.top-buffer
	-if @cardimages.length == 0 then
		No images found
	-else
		-size = @cardimages.size
		-@cardimages.each do |cardimage|
			-if size == 1
				.col-lg-8.col-sm-8
					/ %h4 #{cardimage.image_type.capitalize} of card
					%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
					%br
			-else
				.col-lg-4.col-sm-4
					/ %h4 #{cardimage.image_type.capitalize} of card
					%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
		%br
	.col-lg-4.col-sm-4
		.table-responsive
			%table{width: "70%"}
				%tbody
					%tr
						%th Card Name:
						%td #{@card.cardname}
					%tr
						%th Card Game:
						%td #{@card.cardgame}
					%tr
						%th Card Condition:
						%td #{@card.card_condition.to_s.capitalize}
					%tr
						%th Validation status:
						-case @card.validation_status
							-when 0
								%td Unverified
							-when 1
								%td Awaiting Store Validation
							-when 2
								%td Verified
							-else
								%td Unknown Validation Status
					%tr
						%th Create Date:
						%td #{@card.create_date.to_s}
					%tr
						%th Owner:
						%td #{current_user.name}

		.top-buffer
		=render "listnote"
		.top-buffer
		=link_to "Edit Notes", cards_edit_path(@card), class: "btn btn-primary btn-purple"

.row.top-buffer
	.col-lg-12.col-md-12.col-sm-12
		%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "#{@card_form}", toggle: "popover", placement: "top", title: "Add Pictures"} } Add Pictures
		%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "#{@find_owner_form}", toggle: "popover", placement: "top", title: "Future Owner"} } Transfer Ownership
		=link_to "Ask For Shop Validation", '#', class: 'btn btn-primary btn-purple'
		/ =render "addnote"

%br
%br
