-if flash
	.row
		%ul
			-flash.each do |key, value|
				-if key == "error"
					%li #{key.capitalize}: #{value}
.row
	.col-lg-6.col-md-12.detail
		%h2{style:"color:#5f3d72"} Cards Detail
.row.top-buffer
	-if @cardimages.length == 0 then
		No images found
	-else
		-size = @cardimages.size
		-@cardimages.each do |cardimage|
			-if size == 1
				.col-lg-8.col-sm-8
					/ %h4 #{cardimage.image_type.capitalize} of card
					%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
					%br
					%a{:href => "#{cardimage.photo.url}"} Download original card
					%br
			-else
				.col-lg-4.col-sm-4
					/ %h4 #{cardimage.image_type.capitalize} of card
					%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
					%a{:href => "#{cardimage.photo.url}"} Download original card
					%br
		%br
	.col-lg-4.col-sm-4
		.table-responsive
			%table{width: "70%"}
				%tbody
					%tr
						%th Card Name:
						%td #{@card.cardname}
					%tr
						%th Card Game:
						%td #{@card.cardgame}
					%tr
						%th Card Condition:
						%td #{@card.card_condition.to_s.capitalize}
					%tr
						%th Checking status:
						-case @card.validation_status
							-when 0
								%td Unverified ⚠️ (<a href="#{cards_validation_get_url_path(@card)}">Ask for Expert Check</a>)
							-when 1
								%td Awaiting Store Validation ⏳
							-when 2
								%td Verified ✅
							-else
								%td Unknown Validation Status
					%tr
						%th Created:
						%td #{Time.at(@card.create_date).in_time_zone(@timezone).strftime "%e %b %Y %H:%M %z"}
					%tr
						%th Owner:
						%td #{current_user.name}
		.top-buffer
		-if @card.owner_id == current_user._id.to_s
			=link_to "Edit Notes", cards_edit_path(@card), class: "btn btn-primary btn-purple"
			=link_to "Delete Card", cards_delete_url_path(@card), data: { confirm: "Really delete this card?" }, class: "btn btn-primary btn-purple"

		.top-buffer
			=render "listnote"

.row.top-buffer
	.col-lg-12.col-md-12.col-sm-12
		-if @card.owner_id == current_user._id.to_s
			-if @card.transfer_status != 1 and @card.validation_status == 0
				%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "#{@card_form}", toggle: "popover", placement: "top", title: "Add Pictures"} } Add Pictures
				%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "#{@find_owner_form}", toggle: "popover", placement: "top", title: "Future Owner"} } Transfer Ownership
			/ =render "addnote"
		-elsif current_user.accounttype == "vendor" and @card.owner_id != current_user._id.to_s
			=link_to "Approve Card 👍", "/vendor/accept/#{@card.id}", class: 'btn btn-primary btn-purple'
			=link_to "Reject Card 👎", "/vendor/reject/#{@card.id}", class: 'btn btn-primary btn-purple'

%br
%br
