.row
	-if @cardimages.length == 0 then
		No images found
	-else
		-@cardimages.each do |cardimage|
			.col-lg-4.col-sm-4
				/ %h4 #{cardimage.image_type.capitalize} of card
				%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
				%br
	.col-lg-4.col-sm-4
		.h2 #{@card.cardname}
		.h3 #{@card.cardgame}
		<b>Uploaded:</b> #{@card.create_date.to_s}
		%br
		<b>Owner:</b> #{current_user.name}
		%br
		%br
		Verified tag
		.top-buffer
		=link_to "Edit", cards_edit_path(@card), class: "btn btn-primary btn-purple"

.row
	.col-lg-12.col-md-12.col-sm-12
		Placeholder for small images to go here
.row
	.col-lg-12.col-md-12.col-sm-12
		.h3 Card History
		/# =link_to "Transfer Ownership", cards_transfer_path, class: 'btn btn-primary btn-purple'
		=render "addnote"
		%br
		=render "listnote"

%br
%br
