.row
	-if @cardimages.length == 0 then
		No images found
	-else
		-@cardimages.each do |cardimage|
			.col-lg-4.col-sm-4
				/ %h4 #{cardimage.image_type.capitalize} of card
				%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
				%br
	.col-lg-4.col-sm-4
		.h2 #{@card.cardname}
		.h3 #{@card.cardgame}
		<b>Uploaded:</b> #{@card.create_date.to_s}
		%br
		<b>Owner:</b> #{current_user.name}
		%br
		%br
		Verified tag
		%br
		=render "listnote"
		.top-buffer
		=link_to "Edit Notes", cards_edit_path(@card), class: "btn btn-primary btn-purple"

.row.top-buffer
	.col-lg-12.col-md-12.col-sm-12
		%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "#{@card_form}", toggle: "popover", placement: "top", title: "Add Pictures"} } Add Pictures
		%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "#{@find_owner_form}", toggle: "popover", placement: "top", title: "Future Owner"} } Transfer Ownership
		=link_to "Ask For Shop Validation", '#', class: 'btn btn-primary btn-purple'
		/ =render "addnote"

%br
%br
