.row
	-if @cardimages.length == 0 then
		No images found
	-else
		-@cardimages.each do |cardimage|
			.col-lg-4.col-sm-4
				/ %h4 #{cardimage.image_type.capitalize} of card
				%img.img-responsive{:src => "#{cardimage.photo.thumb.url}", alt: "#{cardimage.image_type}"}
				%br
	.col-lg-4.col-sm-4
		.h2 #{@card.cardname}
		.h3 #{@card.cardgame}
		<b>Uploaded:</b> #{@card.create_date.to_s}
		%br
		<b>Owner:</b> #{current_user.name}
		%br
		%br
		Verified tag
		%br
		=render "listnote"
		.top-buffer
		=link_to "Edit Notes", cards_edit_path(@card), class: "btn btn-primary btn-purple"

.row.top-buffer
	.col-lg-12.col-md-12.col-sm-12
		%button#pop_up_btn.btn.btn-primary.btn-purple{ rel: "popover", data: {content: "hey", toggle: "popover", placement: "right"} } Add Pictures
		%button.btn.btn-lg.btn-danger{"data-content" => "And here's some amazing content. It's very engaging. Right?", "data-toggle" => "popover", :title => "Popover title", :type => "button"} Click to toggle popover
		=link_to "Transfer Ownership", cards_transfer_path, class: 'btn btn-primary btn-purple'
		=link_to "Ask For Shop Validation", cards_transfer_path, class: 'btn btn-primary btn-purple'
		/ =render "addnote"

%br
%br
