= form_for :cards, url: cards_new_url_path, method: :post, role: "form", class: "form-horizontal" do |f|
	.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						.jumbotron.cardupload
							= f.file_field "Upload Picture", class: "btn btn-primary btn-landing btn_up"
	.col-sm-6
		%br
		%br
		%br
		%br
		%br
		%br
		= f.text_field :name, placeholder: "Edit Name of Card", class: "form-control"
		%br
		= f.text_field :game, placeholder: "Edit Game", class: "form-control"
		%br
		= f.text_field :collection, placeholder: "Edit Collection", class: "form-control"
		%br
		= f.submit "Validate/Submit card", class: "btn btn-primary btn-landing btn_up"
