.row
	.col-lg-6.col-md-6
		%span{style: "color: #5f3d72"}
			.h1 Add Card
		-if flash
			%ul
				-flash.each do |key, value|
					-if key == "error"
						%li #{key.capitalize}: #{value}

.row.top-buffer
	= form_for :cards, url: cards_new_url_path, method: :post, role: "form", class: "form-horizontal" do |f|
		= f.hidden_field "userid", value: current_user.id
		.col-lg-6.col-md-6
			Front Image <strong>(*required)</strong>
			%br
			= f.file_field "front_image", class: "btn btn-primary btn-purple"
			%br
			Back Image
			%br
			= f.file_field "back_image", class: "btn btn-primary btn-purple "
			%br
		.col-lg-6.col-md-6
			%b Name of card: <strong>(*required)</strong>
			= f.text_field :name, placeholder: "Name of Card", class: "form-control", value: flash[:info]["cardname"]
			%br
			%b Card condition: <strong>(*required)</strong>
			%br
			= f.text_field :card_condition, placeholder: "Enter the card condition", class: "form-control", value: flash[:info]["card_condition"]
			%br
			%br
			// = f.text_field :game, placeholder: "Game", class: "form-control", value: flash[:info]["cardgame"]
			%b Select the game:
			%br
			= f.select :game, ["Magic: The Gathering"], class: "form-control", selected: flash[:info]["cardgame"]
			%br
			%br
			// = f.text_field :collection, placeholder: "Collection", class: "form-control", value: flash[:info]["cardcollection"]
			%b Select the game:
			%br
			= f.select :collection, ["Default collection"], class: "form-control", selected: flash[:info]["cardcollection"]
			%br
			%br
			= f.submit "Add Card", class: "btn btn-primary btn-purple", data: {disable_with: "Submitting..."}

			%br
			%br
			%br
			%br
			%br
