.row
.col-sm-6
= @errormsg

= form_for :cards, url: cards_new_url_path, method: :post, role: "form", class: "form-horizontal" do |f|
	= f.hidden_field "userid", value: current_user.id
	.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						.jumbotron.cardupload
							Front Image
							%br
							= f.file_field "front_image", class: "btn btn-primary btn-landing btn_up"
							%br
							Back Photo
							%br
							= f.file_field "back_image", class: "btn btn-primary btn-landing btn_up"
	.col-sm-6
		%br
		%br
		%br
		%br
		%br
		%br
		= f.text_field :name, placeholder: "Edit Name of Card", class: "form-control", value: @prefilled_name
		%br
		= f.text_field :game, placeholder: "Edit Game", class: "form-control", value: @prefilled_game
		%br
		= f.text_field :collection, placeholder: "Edit Collection", class: "form-control", value: @prefilled_collection
		%br
		= f.submit "Validate/Submit card", class: "btn btn-primary btn-landing btn_up"
