<%= javascript_include_tag "modernizr.custom" %>
<!-- <div class="container">	 -->
<section class="image-grid">
		<!-- <ul id="og-grid" class="thumb og-grid"> -->
		<ul id="og-grid" class="thumb og-grid">
			<% @cards_and_images.each_with_index do |(card, cardimages), index| %> 
				
					<%card_table= card %>
					<%front = cardimages[0].present? ? cardimages[0].photo.url : nil %>
					<%back = cardimages[1].present? ? cardimages[1].photo.url : nil %> 
					<div class="image__cell is-collapsed">
						<div class="image--basic">
							<li>
								<a href="#expand-jump-<%=index %>" class="thumbnail" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot." data-largesrc="<%= front %>" data-smallsrc= "<%= back %>" data-table="#{@partial_table}" data-title="Super cool card Display!" href="#">
										<img id="expand-jump-<%=index %>" class="img-responsive" src="<%= cardimages[0].photo.thumb.url %>"/>
								</a>
							</li>
							 <div class="arrow--up"></div>
						</div>
				
						<div class="image--expand">
				      <a href="#close-jump-<%=index %>" class="expand__close"></a>
						    <ul class="nav nav-tabs">
						      <li class="active"><a href="#card_detail-tab" data-toggle="tab">Card Detail</a></li>
						      <li><a href="#edit-tab" data-toggle="tab">Edit Card</a></li>
						      <li><a href="#transfer-tab" data-toggle="tab">Transfer Ownership</a></li>
						      <li><a href="#expert-tab" data-toggle="tab">Expert Check</a></li>
						      <li><a href="#history-tab" data-toggle="tab">Card History</a></li>
						    </ul>
							    <!-- Tab panes -->
						    <div class="tab-content">
						      <div class="tab-pane active" id="card_detail-tab">
						      	<div class="col-xs-6 col-md-3 col-lg-3" >
											<img class="img-responsive" src="<%= front %>"/>
										</div>

										<div class="col-xs-6 col-md-3 col-lg-3" >
							      	<% if back.present? %>
							      		<img class="img-responsive" src="<%= back %>"/>
							      	<% else %>
							      		<p> No Back Image </p>
							      	<% end %>
							      </div>

								    <div class="col-xs-6 col-md-3 col-lg-3" >
							      	<%= render partial: 'card_table', locals: { :card_table => card_table } %>
							      </div>

						      </div>
						      <div class="tab-pane" id="edit-tab">Edit tab super cool</div>
						      <div class="tab-pane" id="transfer-tab">PROFILE asdfafas</div>
						      <div class="tab-pane" id="expert-tab">MESSAGES asdfdas</div>
						      <div class="tab-pane" id="history-tab">historyyyyydfdas</div>
						    </div>
				    </div>
				  </div>
			<% end %>
		</ul>
	
<!-- </div>/container -->
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- // <script src="javascripts/grid.js"></script> -->

<%= javascript_include_tag 'expand', 'data-turbolinks-track' => true %>
