%br
%br
.row
	.col-sm-6
		.table-responsive
			%table
				%tbody
					%tr
						%th= image_tag('front.jpg', width: "200")
						%th= image_tag('back.jpg', width: "200")
						%th{colspan:'2'}
	.col-sm-6
		.h2 Legendary Creature - Hydra Avatar
		%br
		.h2 Magic - The Gathering	
		%br
		.h2 Collection
%br
.row.tracking
	.table-responsive
		%table
			%tbody
				%tr
					%th= image_tag('front_1.jpg', width: "50") 
					%th= image_tag('back_1.jpg', width: "50") 
					%th= image_tag('front_1.jpg', width: "50") 
					%th= image_tag('back_1.jpg', width: "50") 
					%th= image_tag('front_1.jpg', width: "50") 
					%th= image_tag('back_1.jpg', width: "50") 
.row
	%h3 future Owner
	%input.form-control{:placeholder => "Phone Number", style: "width: 150px;", :type => "name"}
	%br
	%input.form-control{:placeholder => "Name", style: "width: 150px;", :type => "name"}

.row.validate_btn
	.btn.btn-primary.btn-landing.btn_up Transfer

%br
%br
%br
%br