<!DOCTYPE html>
<html>
  <head>
    <title>Vaultarch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "landing", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
      window.__insp = window.__insp || [];
      __insp.push(['wid', 12345678]);
      (function() {
      function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
      })();
    </script>
    <!-- End Inspectlet Embed Code -->
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/vaultron-beta/favicon-32x32.png">
    <LINK REL="apple-touch-icon" HREF="https://s3.amazonaws.com/vaultron-beta/icon-129x129.png" />
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-custom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href= "/cards/index" class="navbar-brand navbar-logo">
          <%= image_tag('logolight.png', width: "50") %>
        </a>
        <a href="/"><img style="position: absolute;  z-index: 0; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/vaultron-beta/beta_logo.png" alt="Vaultron Beta" data-canonical-src="https://s3.amazonaws.com/vaultron-beta/beta_logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
  <!--       <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Pricing</a></li>
        </ul> -->
          <% if user_signed_in? %>
            <%= render "layouts/authenticated_header" %>
          <% else %>
            <%= render "layouts/unauthenticated_header" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div id="wrap">
      <div class="container">
        <%= yield %>
      </div><!--/.container-->
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
