<!DOCTYPE html>
<html>
  <head>
    <title>Vaultarch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "landing", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/vaultron-beta/favicon-32x32.png">
    <link rel="apple-touch-icon" href="https://s3.amazonaws.com/vaultron-beta/icon-129x129.png" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-custom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href= "#0"  onclick="document.location.href='/cards/index'; " class="navbar-brand navbar-logo">
          <%= image_tag('logolight.png', width: "50") %>
        </a>
        <a href="/"><img style="position: absolute;  z-index: 0; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/vaultron-beta/alpha_logo.png" alt="Vaultron Alpha" data-canonical-src="https://s3.amazonaws.com/vaultron-beta/alpha_logo.png"></a>

        <% if params[:id].present? %>
          <p class='navbar-text'> Card Details </p>
        <% elsif params[:action] == "index" && params[:controller] == "cards" %>
          <p class='navbar-text'> My Cards </p>
        <% elsif params[:action] == "contact_careers" %>
          <p class='navbar-text'> Contact</p>
        <% elsif params[:action] == "edit" && params[:controller] == "registrations" %>
          <p class='navbar-text'> Settings </p>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
  <!--       <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Pricing</a></li>
        </ul> -->
          <% if user_signed_in? %>
            <%= render "layouts/authenticated_header" %>
          <% else %>
            <%= render "layouts/unauthenticated_header" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div id="wrap">
      <div class="container container-custom">
        <% if user_signed_in? %>
          <% if params[:controller] != "adminpage" and params[:controller] != "registrations" and params[:controller] != "home" %>
            <ol class="breadcrumb">
              <% if params[:action] == "index" && params[:controller] == "cards" then %>
              <li class="active">Home</li>
              <% elsif params[:action] == "new" && params[:controller] == "cards" %>
              <li><a href="#0" onclick="document.location.href='/cards/index'; ">Home</a></li>
              <li class="active">Add card</li>
              <% elsif params[:action] == "detail" && params[:controller] == "cards" %>
              <li><a href="#0" onclick="document.location.href='/cards/index'; ">Home</a></li>
              <li class="active">Card Detail</li>
              <% elsif params[:controller] == "transfer" and params[:action] == "inbound" %>
              <li><a href="#0" onclick="document.location.href='/cards/index'; ">Home</a></li>
              <li class="active">Card Transfer</li>
              <% end %>
            </ol>
          <% end %>
        <% end %>
        <%= yield %>
      </div><!--/.container-->
    </div>

    <%= render "layouts/footer" %>
    <!-- Begin Google Analytics Embed Code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74134078-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics Embed Code -->
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
      window.__insp = window.__insp || [];
      __insp.push(['wid', 469133057]);
      (function() {
      function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
      })();
    </script>
    <!-- End Inspectlet Embed Code -->
  </body>
</html>
