<!DOCTYPE html>
<html>
  <head>
    <title>Vaultron</title>
    <%= stylesheet_link_tag    "landing", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar">
          <div class="nav-header">
            <a href= "#" class="navbar-brand">
              <%= image_tag('Logo.png', width: "50") %>
            </a>
          </div>

          <div class="collapse navbar-collapse nav-signin">
              <div class="form-group">
                <input type="text" value="" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" value="" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success my-btn" onclick="alert('Wow! You are enthusiastic! Technically we just finished an awesome 54 hours weekend and need to tweak the backend. Stay tuned!'); ">Sign In</button>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
      <%= yield %>

      <footer>
        <p>&copy; Vaultron 2016. All card images are the property of Wizards of the Coast</p>
      </footer>

    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
